/* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .rotate-360 {
    animation: spin 5s linear infinite;
  }
   */

   @keyframes slow-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .rotate-360 {
    animation: slow-spin 10s linear infinite;
  }
  